:root {
    --primary-color: rgb(16, 0, 79);
    --secondary-color:  #f0f3f4;
    --secondary-bg-color: #000080;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header span {
    margin: 0px 30px;
}

.logotipo {
    font-size: 1.6rem;
    font-weight: bold;
}

header nav {
    margin: 0px 30px;
}

header, footer {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
}

header a, header a:visited {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.1rem;
    margin: 10px;
    font-weight: bold;
}

main {
    flex: 6;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recomendados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.card {
    gap: 40px 20px;    /*  usar: row-gap, column-gap */
    padding: 5px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
} 

.card img {
    border-radius: 5px;
}

.destino-rec {
    font-size: 1.4rem;
    font-style: italic;
    margin: 10px 5px;
}

.detalhes-rec {
    font-size: 1rem;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.preco-rec span {
    font-weight: bold;
    font-size: 1.2rem;
}

.link-visualizar, .link-visualizar:visited {
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.9rem;
}

#consulta-datas form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#consulta-datas form input, #consulta-datas form label, #consulta-datas form button {
    margin: 0px 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
    border-radius: 10px;
    height: 30px;
}

#consulta-datas form button {
    color: var(--secondary-color);
    background-color: red;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    height: auto;
    width: 250px;
}

footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer span {
    margin-left: 80px;
}

footer span {
    font-size: 0.8rem;
    margin-right: 80px;
}